<!DOCTYPE html>
<html>
	<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<style>
			
	</style>
	</head>
			<div class="text-center mt-5">
				<img src="/static/images/error.png" class="img-fluid mt-3" alt="IIITHLogo" width="300">
				<h1>Page Not Found</h1>
			</div>
			<div class="text-center mt-5">
				<p>What you were looking for is just not there.</p>
				<p><a href="{{ url_for('index') }}">Go Somewhere Nice</a></p>
			</div>
		</div>
	</body>
</html>