{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<div class="container mt-5 mb-5" style="min-height: 537px">
	<h1 class="display-3 text-center"><b>THIS IS ALL ABOUT US</b></h1>
	<div class="text-center mt-5">
	<h2>We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is <abbr title="International Institute of Information Technology, Hyderabad">IIITH</abbr>. We are its heart. We are not just a team, we are a family.</h2>
	<hr>
	<img src="/static/images/IIITHLogo.png" class="img-fluid mt-3" alt="IIITHLogo" width="300">
	<h3 class="mt-5"><b>Nice to meet you</b></h3>
	</div>
</div>



{% endblock %}